
/* title */

 #title{
   padding-top: 100px;  
}   

#titleText {
font-size: 80px; 
font-family: 'Spectral SC', serif;
}

/* chapter */

#chapter{
    padding-top: 10px; 
}

#chapterText{
    font-size: 36px; 
    font-family: 'Petit Formal Script', cursive;
}

/* story */

#story{
    padding-top: 10px; 
}

#storyText{
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;  
}

/* prompt */

#prompt{
    padding-top: 10px;
}

#promtText{
    font-size: 20px; 
    font-family: 'Libre Caslon Display', serif;
}

/* Buttons */

.optionButton {
margin-right: 20px; 
font-family: 'Noto Serif JP', serif;
font-size: 18px; 
background: white; 
width: 200px; 
}

.optionButton:hover{
    background: rgb(0, 0, 0);
    color:white;   
}








